<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Home Page </title>
<link rel="stylesheet" href="https://heerey525.github.io/layui-v2.4.3/layui/css/layui.css">
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>  
   <h1 style="text-align: center">Welcome to login to Pilot System</h1>
   <div id="program" class="layui-main" style="width: 700px;">
	   	<div class="layui-form-item">
	   	<label class="layui-form-label">User ID:</label>
	   	<input v-model="input.username" type="text"><br><br>
	   	<label class="layui-form-label">Password:</label>
	   	<input v-model="input.password" type="password"><br><br>
		        <button @click="send()">Log in</button><br><br><br>
		</div>
		<div style="font-weight:bold;font-size:16px; color:#F00">{{info}}</div><br><br>
		<div style="font-weight:bold;font-size:25px; color:blue" v-if="successfulLogin"><a href="http://localhost:8080/search.html">Successfully Login! Start to Search, Click Here!</a></div>
	</div>

<script type = "text/javascript">
new Vue({
    el: '#program',
    data: {
        successfulLogin: false,
        info: "",
        code: "",
        input: {
            username: '',
            password: ''
        }
    },
    methods: {
        send() {
            axios.post('/v1/login', this.input).then(response =>{
                if (response.data.code == 200) {
                    this.successfulLogin = true
                } else {
                    this.info = response.data.msg
                }
                this.info = response.data.msg
            }).
            catch(function(error) {
                console.log(error);
            });
        }
    }
})
</script>
</body>
</html>